<!--Responsive Navbar: https://ng-bootstrap.github.io/#/components/collapse/examples -->

<!-- <div class="container"> -->
  <nav class="header navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand header-logo" href="#"><img src="./../../../assets/img/logo.png"
        /></a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav center">
        <!-- <li class="nav-item" *ngFor="let link of linksHome">
          <a class="nav-link" [routerLink]="link.fragment" (click)="isMenuCollapsed = true" >{{ link.title }}</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#list-phim">LỊCH CHIẾU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#tin-tuc">TIN TỨC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#cum-rap">CỤM RẠP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true" href="#ung-dung">ỨNG DỤNG</a>
        </li>
      </ul>
      <ul class="navbar-nav right">
        <!-- Đăng ký/Đăng nhập -->
        <li class="nav-item dang-ky">
          <ng-container  *ngIf="!isLogin, else Login">
              <a class="nav-link" routerLink="/log-in">ĐĂNG NHẬP/ </a>
              <a class="nav-link" routerLink="/sign-up-page">ĐĂNG KÝ</a>
          </ng-container>
        </li>
        <li class="nav-item">
          <ng-template #Login >
            <a class="nav-link" routerLink="/" title='Đăng xuất'>
              <button class="logout" type="submit" (click)="logOut()">
                <img class="avatar" src='./../../../../assets/img/avatar.png'>
              </button>
            </a>
            <a class="nav-link hello">{{userLogin.taiKhoan | uppercase}}</a>
          </ng-template>
        </li>
        <!-- End---Đăng ký/Đăng nhập -->
      </ul>
    </div>
  </nav>
<!-- </div> -->
